{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/navbar.html' %}
<section class="container-fluid">
    <div class="col-md-8 mx-auto mt-3 text-center heading-font">
        <h2>Review Your Order and Make Payment</h2>
        </p>
    </div>
    <div class="row">
        <div class="col mt-4">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="heading-font">Billing Address</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ order.full_name }}</p>
                                <p class="card-text">{{ order.full_address }}</p>
                                <p class="card-text">{{ order.email }}</p>
                                <p class="card-text">{{ order.tel }}</p>
                                <p class="card-text">{{ order.city }}, {{ order.state }}</p>
                                <p class="card-text">{{ order.country }}</p>
                                {% if order.order_note %}
                                <p><strong>Order Note:</strong></p> {{ order.order_note }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="heading-font">Payment Method</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                </p>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header">
                                <h5 class="heading-font">Your Items</h5>
                            </div>
                            <div class="card-body">
                                <div class="row mb-3 card-title checkout-details-headings">
                                    <div class="col-10 col-md-6">
                                        <h6 class="text-uppercase fw-bold">Product</h6>
                                    </div>
                                    <div class="col-8 col-md-3">
                                        <h6 class="text-uppercase fw-bold">Quantity</h6>
                                    </div>
                                    <div class="col-8 col-md-3">
                                        <h6 class="text-uppercase fw-bold">Price</h6>
                                    </div>
                                </div>
                                {% for cart_item in cart_items %}
                                <div class="row mb-3">
                                    <div class="col-12 col-md-6">
                                        <figure class="align-items-center item-on-side">
                                            <!-- product image -->
                                            <div class="aside">
                                                <a href="{% url 'product_detail' cart_item.product.category.slug cart_item.product.slug%}"
                                                    aria-label="product detail">
                                                    <img src="{{ cart_item.product.image.url }}" class="mx-1 small-img"
                                                        alt="{{ cart_item.product.product_name }}">
                                                </a>
                                            </div>
                                            <figcaption>
                                                <!-- product name -->
                                                <a href="{% url 'product_detail' cart_item.product.category.slug cart_item.product.slug %}"
                                                    class="text-decoration-none text-dark" aria-label="product detail">
                                                    {{ cart_item.product.product_name }}
                                                </a>
                                                <!-- product variations -->
                                                <p class="text-muted small mb-0">
                                                    {% if cart_item.variations.all %}
                                                    {% for item in cart_item.variations.all %}
                                                    {% if item.variation_category == 'color' %}
                                                    Color: {{ item.variation_value }}
                                                    {% endif %}
                                                    {% if item.variation_category == 'size' %}
                                                    Size: {{ item.variation_value }}
                                                    {% endif %}
                                                    <br>
                                                    {% endfor %}
                                                    {% endif %}
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-8 col-md-3">
                                        <div>
                                            <!-- Quantity display -->
                                            <label id="cartQuantityLabel" class="visually-hidden">Cart quantity</label>
                                            <p aria-labelledby="cartQuantityLabel">{{ cart_item.quantity }}</p>
                                        </div>
                                    </div>
                                    <div class="col-8 col-md-3">
                                        <!-- Product price  -->
                                        <div>
                                            <var class="price">${{ cart_item.sub_total }}</var>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-4">
            <div class="card mb-4 checkout-card">
                <div class="card-body text-center">
                    <!-- Sub total -->
                    <div class="row">
                        <div class="col">
                            <span>Subtotal :</span>
                        </div>
                        <div class="col text-right">
                            <span>$ {{ total|floatformat:2 }}</span>
                        </div>
                    </div>
                    <!-- Tax -->
                    <div class="row">
                        <div class="col">
                            <span">Tax :</span>
                        </div>
                        <div class="col text-right">
                            <span>$ {{ tax|floatformat:2 }}</span>
                        </div>
                    </div>
                    <!-- Grand total -->
                    <div class="row">
                        <div class="col">
                            <span><strong>Total:</strong></span>
                        </div>
                        <div class="col text-right">
                            <span class="text-dark"><strong>$ {{ grand_total|floatformat:2 }}</strong></span>
                        </div>
                    </div>
                    <hr>
                    <!-- paypal and back buttons -->
                    <div class="text-center">
                        <div id="paypal-button-container"></div>
                        <a href="{% url 'checkout' %}" class="btn btn-secondary btn-block mb-2"
                            aria-label="Back to checkout page">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'includes/footer.html' %}
{% endblock %}

{% block postloadjs %}
<!-- custom paypal js -->
<script src="{% static 'js/paypal.js' %}"></script>
<!-- load paypal js script -->
<script>
    loadPayPalScript('{{ paypal_client_id }}', setupPayPalButton);
</script>
{% endblock %}
