{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/navbar.html' %}
<section class="container-fluid">
    <div class="row">
        <div class="col mt-4">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="heading-font">Billing Address</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ order.full_name }}</p>
                                <p class="card-text">{{ order.full_address }}</p>
                                <p class="card-text">{{ order.email }}</p>
                                <p class="card-text">{{ order.tel }}</p>
                                <p class="card-text">{{ order.city }}, {{ order.state }}</p>
                                <p class="card-text">{{ order.country }}</p>
                                {% if order.order_note %}
                                <p><strong>Order Note:</strong></p> {{ order.order_note }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="heading-font">Payment Method</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="heading-font">Review Product</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-3">
            <div class="card mb-4 checkout-card">
                <div class="card-body text-center">
                    <!-- Sub total -->
                    <div class="row">
                        <div class="col">
                            <span></span>
                        </div>
                        <div class="col text-right">
                            <span></span>
                        </div>
                    </div>
                    <!-- Tax -->
                    <div class="row">
                        <div class="col">
                            <span"></span>
                        </div>
                        <div class="col text-right">
                            <span></span>
                        </div>
                    </div>
                    <!-- Grand total -->
                    <div class="row">
                        <div class="col">
                            <span><strong></strong></span>
                        </div>
                        <div class="col text-right">
                            <span class="text-dark"><strong></strong></span>
                        </div>
                    </div>
                    <hr>
                    <!-- checkout and keep shopping buttons -->
                    <div class="text-center">
                        <a href="{% url 'payments' %}" class="btn btn-secondary btn-block mx-1 mb-2"
                            aria-label="Make payment">Make payment</a>
                        <a href="{% url 'checkout' %}" class="btn btn-secondary btn-block mb-2"
                            aria-label="Back to checkout page">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'includes/footer.html' %}
{% endblock %}