{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/navbar.html' %}
<section>
    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <!--   Side bar   -->
                <ul class="list-group">
                    <a class="list-group-item active" href="#"></a>
                    <a class="list-group-item" href="#"></a>
                    <a class="list-group-item" href="#"></a>
                    <a class="list-group-item" href="#"></a>
                    <a class="list-group-item" href="#"></a>
                    <a class="list-group-item" href="#"></a>
                </ul>
                <br>
                <a class="btn btn-secondary btn-block" href="{% url 'logout' %}" aria-label="log out">
                    <i class="fa fa-power-off"></i> <span class="text">Logout</span>
                </a>
            </aside>
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3"></strong>
                        <span></span>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <h6 class="text-muted" </h6>
                                    <p>
                                    </p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="text-muted"></h6>
                                <span class="text-success">
                                </span>
                                <p>
                                    <span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <td>
                                    <img src="" class="">
                                </td>
                                <td>
                                    <p class="title mb-0"></p>
                                    <var class="price text-muted"></var>
                                </td>
                                <td></td>
                                <td> <a href="#" class="btn btn-outline-secondary"></a> <a href="#"
                                        class="btn btn-light">
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>
{% include 'includes/footer.html' %}
{% endblock %}