{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container mb-3">
    <div class="row">
        <div class="col-md-8 mx-auto mt-4 text-center">
        </div>
    </div>
    <div class="card mx-auto col-lg-6 col-md-8">
        <div class="card-body">
            <form action="#" method="POST">
                <div class="form-group mb-3">
                    <label for="email"></label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email Address"
                        required>
                </div>
                <div class="form-group mt-3">
                    <a href="#" class="text-decoration-none">
                    </a>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-secondary w-50 mb-2 mt-4 hvr-pop"></button>
                </div>
            </form>
        </div>
    </div>
    <p class="text-center mt-4 fs-5"><a href="#" class="text-decoration-none"></a>
        <a href="#" class="text-decoration-none"></a>
    </p>
</section>
{% endblock %}