{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/navbar.html' %}
<section>
    <div class="container-fluid mt-5">
        <div class="row">
            {% include 'includes/dashboard_sidebar.html' %}
            <main class="col-md-9 mb-3">
                <article class="card">
                    <!-- My orders heading -->
                    <div class="card-header px-3 text-center">
                        <h3><strong class="d-inline-block mr-3"> Your Order History</strong></h3>
                        <span></span>
                    </div>
                    {% if orders %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container">
                                    <!-- Order heading -->
                                    <div class="row d-none d-md-flex">
                                        <div class="col-md-2">
                                            <h6>
                                                <strong>
                                                    Order
                                                </strong>
                                            </h6>
                                        </div>
                                        <div class="col-md-3">
                                            <h6><strong>Full Name</strong></h6>
                                        </div>
                                        <div class="col-md-2">
                                            <h6><strong>Phone</strong></h6>
                                        </div>
                                        <div class="col-md-2">
                                            <h6><strong>Total</strong></h6>
                                        </div>
                                        <div class="col-md-3">
                                            <h6><strong>Date</strong></h6>
                                        </div>
                                    </div>
                                    <!-- Order details -->
                                    {% for order in orders %}
                                    <div class="row">
                                        <div class="col-12 d-md-none">
                                            <p><strong>Order: </strong>
                                                <a href="{% url 'order_detail' order.order_number %}"
                                                    class="text-decoration-none text-dark" aria-label="Order detail">
                                                    {{ order.order_number }}
                                                </a>
                                            </p>
                                        </div>
                                        <div class="col-12 d-md-none">
                                            <p><strong>Full Name: </strong>{{ order.full_name }}</p>
                                        </div>
                                        <div class="col-12 d-md-none">
                                            <p><strong>Phone: </strong>{{ order.tel }}</p>
                                        </div>
                                        <div class="col-12 d-md-none">
                                            <p><strong>Total: </strong>${{ order.order_total }}</p>
                                        </div>
                                        <div class="col-12 d-md-none">
                                            <p><strong>Date: </strong>{{ order.created_at }}</p>
                                        </div>
                                        <!-- Order details on medium and larger screens -->
                                        <div class="col-md-2 d-none d-md-block">
                                            <p> <a href="{% url 'order_detail' order.order_number %}"
                                                    class="text-decoration-none text-dark" aria-label="Order detail">
                                                    {{ order.order_number }}
                                                </a>
                                            </p>
                                        </div>
                                        <div class="col-md-3 d-none d-md-block">
                                            <p>{{ order.full_name }}</p>
                                        </div>
                                        <div class="col-md-2 d-none d-md-block">
                                            <p>{{ order.tel }}</p>
                                        </div>
                                        <div class="col-md-2 d-none d-md-block">
                                            <p>${{ order.order_total }}</p>
                                        </div>
                                        <div class="col-md-3 d-none d-md-block">
                                            <p>{{ order.created_at }}</p>
                                        </div>
                                        <hr>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="text-center mt-3">
                        <p>You have no order yet</p>
                    </div>
                    {% endif %}
                </article>
            </main>
        </div>
    </div>
</section>
{% include 'includes/footer.html' %}
{% endblock %}