{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/navbar.html' %}
<div class="container mt-5">
    <div class="card text-center mt-5">
        <div class="card-body bg-light">
            <h2 class="card-title mt-3 heading-font">Password Change Successful</h2>
            <p class="card-text fs-5 mb-4 mt-4">Your password has been updated successfully.</p>
            <!-- Back Button -->
            <a href="{% url 'home' %}" class="btn btn-secondary mx-3 mb-3 hvr-pop" aria-label="Home button">Home</a>
            <!-- Login Button -->
            <a href="{% url 'login' %}" class="btn btn-secondary mx-3 mb-3 hvr-pop" aria-label="Login button">Login</a>
        </div>
    </div>
</div>
{% include 'includes/footer.html' %}
{% endblock %}