{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/navbar.html' %}
<section class="container mb-3">
    <div class="row">
        <div class="col-md-8 mx-auto mt-3 text-center heading-font">
            <h2>Register for a Kido Account</h2>
            <p class="fs-5"><a class="link text-decoration-none" href="#"></a>
            </p>
        </div>
    </div>
    <div class="card mx-auto col-lg-8 col-md-10">
        <article class="card-body">
            {% include 'includes/alerts.html' %}
            {{ form.non_field_errors }}
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        {{ form.first_name.error }}
                        <label for="{{ form.first_name.id_for_label }}">First Name *</label>
                        {{ form.first_name }}
                    </div>
                    <div class="col-md-6 form-group mb-3">
                        {{ form.last_name.error }}
                        <label for="{{ form.last_name.id_for_label }}">Last Name *</label>
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        {{ form.email.error }}
                        <label for="{{ form.email.id_for_label }}">Email Address *</label>
                        {{ form.email }}
                    </div>
                    <div class="col-md-6 form-group mb-3">
                        {{ form.tel.error }}
                        <label for="{{ form.tel.id_for_label }}">Phone Number *</label>
                        {{ form.tel }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        {{ form.password.error }}
                        <label for="{{ form.password.id_for_label }}">Create Password *</label>
                        {{ form.password }}
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        {{ form.confirm_password.error }}
                        <label for="{{ form.confirm_password.id_for_label }}">Confirm Password *</label>
                        {{ form.confirm_password }}
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-secondary btn-lg w-50 mb-2 mt-2 hvr-pop">Register</button>
                </div>
            </form>
        </article>
    </div>
    <p class="text-center mt-4 fs-5">
        If you already have a Kido account, please
        <a href="{% url 'login' %}" class="text-decoration-none">&nbsp;Log&nbsp;in</a>
    </p>
</section>
{% include 'includes/footer.html' %}
{% endblock %}