{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/navbar.html' %}
<section class="container mb-3">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-4">
            <h2 class="fs-1"></h2>
            <p class="fs-5"><a class="link text-decoration-none" href="#"></a>
            </p>
        </div>
    </div>
    <div class="card mx-auto col-md-8">
        <article class="card-body">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label for="{{ form.first_name.id_for_label }}">First Name</label>
                        {{ form.first_name }}
                    </div>
                    <div class="col-md-6 form-group mb-3">
                        <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label for="{{ form.email.id_for_label }}">Email Address</label>
                        {{ form.email }}
                    </div>
                    <div class="col-md-6 form-group mb-3">
                        <label for="{{ form.tel.id_for_label }}">Phone Number</label>
                        {{ form.tel }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="{{ form.password.id_for_label }}">Create Password</label>
                        {{ form.password }}
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="{{ form.confirm_password.id_for_label }}">Confirm Password</label>
                        {{ form.confirm_password }}
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"></button>
                </div>
            </form>
        </article>
    </div>
    <p class="text-center mt-4"><a href=""></a></p>
</section>
{% include 'includes/footer.html' %}
{% endblock %}