{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/navbar.html' %}
<section>
    <div class="container mt-4">
        {% if not cart_items %}
        <!-- display for empty cart -->
        <div class="text-center mt-5 pt-4">
            <h2>
                Your cart is empty
            </h2>
            <br>
            <div>
                <a href="{% url 'home' %}" class="btn btn-secondary hvr-pop">Continue Shopping</a>
            </div>
        </div>
        {% else %}
        <div class="container">
            <!-- Cart item heading -->
            <div class="row mb-3 cart-title">
                <div class="col-12 col-md-4">
                    <h6 class="text-uppercase fw-bold">Product</h6>
                </div>
                <div class="col-12 col-md-3">
                    <h6 class="text-uppercase fw-bold">Quantity</h6>
                </div>
                <div class="col-12 col-md-3">
                    <h6 class="text-uppercase fw-bold">Price</h6>
                </div>
                <div class="col-12 col-md-2 text-right">
                    <h6 class="text-uppercase fw-bold">Actions</h6>
                </div>
            </div>
            {% for cart_item in cart_items %}
            <div class="row">
                <div class="col-12 col-md-4">
                    <figure class="align-items-center item-on-side">
                        <!-- product image -->
                        <div class="aside"><img src="{{ cart_item.product.image.url }}" class="mx-1 small-img"
                                alt="{{ cart_item.product.product_name }}">
                        </div>
                        <figcaption>
                            <!-- product name -->
                            <a href="#" class="text-decoration-none text-dark">{{ cart_item.product.product_name }}</a>
                            <p class="text-muted small"></p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-12 col-md-3">
                    <div class="input-group">
                        <!-- item quantity decrement button -->
                        <div class="input-group-prepend">
                            <a href="{% url 'remove_cart' cart_item.product.item_id %}" class="btn btn-light"
                                type="button" id="button-plus"> <i class="fa fa-minus"></i> </a>
                        </div>
                        <!-- cart item quantity display -->
                        <input type="text" class="form-control item-quantity" id="" value="{{ cart_item.quantity }}">
                        <!-- cart item quantity increment button -->
                        <div class="input-group-append">
                            <a href="{% url 'add_cart' cart_item.product.item_id %}" class="btn btn-light" type="button"
                                id="button-minus"> <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <!-- Price Wrap -->
                    <div class="price-wrap">
                        <var class="price">${{ cart_item.sub_total }}</var>
                        <small class="text-muted"> </small>
                    </div>
                </div>
                <div class="col-12 col-md-2 text-md-right">
                    <!-- Remove Button -->
                    <a href="{% url 'delete_cart_item' cart_item.product.item_id %}"
                        class="btn btn-danger remove-button">Remove</a>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-3 container">
        <div class="card mb-2">
            <div class="card-body text-center">
                <!-- Sub total -->
                <div class="row">
                    <div class="col">
                        <span>Subtotal :</span>
                    </div>
                    <div class="col text-right">
                        <span>$ {{ total }}</span>
                    </div>
                </div>
                <!-- Tax -->
                <div class="row">
                    <div class="col">
                        <span">Tax :</span>
                    </div>
                    <div class="col text-right">
                        <span>$ {{ tax }}</span>
                    </div>
                </div>
                <!-- Grand total -->
                <div class="row">
                    <div class="col">
                        <span>Grand Total :</span>
                    </div>
                    <div class="col text-right">
                        <span class="text-dark"><strong>$ {{ grand_total }}</strong></span>
                    </div>
                </div>
                <hr>
                <!-- checkout and keep shopping buttons -->
                <div class="text-center">
                    <a href="#" class="btn btn-secondary btn-block mx-1 mb-2">Checkout</a>
                    <a href="{% url 'home' %}" class="btn btn-secondary btn-block mb-2">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
{% include 'includes/footer.html' %}
{% endblock %}