{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/navbar.html' %}
<section class="container-fluid">
    <div class="row">
        <div class="col mt-4">
            {% if not cart_items %}
            <!-- display for empty cart -->
            <div class="text-center mt-5 pt-4">
                <h2>
                    Your cart is empty
                </h2>
                <br>
                <div>
                    <a href="{% url 'home' %}" class="btn btn-secondary hvr-pop">Continue Shopping</a>
                </div>
            </div>
            {% else %}
            <div class="container">
                <!-- Cart item heading -->
                <div class="row mb-3 cart-title">
                    <div class="col-12 col-md-4">
                        <h6 class="text-uppercase fw-bold">Product</h6>
                    </div>
                    <div class="col-12 col-md-3">
                        <h6 class="text-uppercase fw-bold">Quantity</h6>
                    </div>
                    <div class="col-12 col-md-3">
                        <h6 class="text-uppercase fw-bold">Price</h6>
                    </div>
                    <div class="col-12 col-md-2 text-right">
                        <h6 class="text-uppercase fw-bold">Actions</h6>
                    </div>
                </div>
                {% for cart_item in cart_items %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <figure class="align-items-center item-on-side">
                            <!-- product image -->
                            <div class="aside">
                                <a href="{% url 'product_detail' cart_item.product.category.slug cart_item.product.slug%}"
                                    aria-label="product detail">
                                    <img src="{{ cart_item.product.image.url }}" class="mx-1 small-img"
                                        alt="{{ cart_item.product.product_name }}">
                                </a>
                            </div>
                            <figcaption>
                                <!-- product name -->
                                <a href="{% url 'product_detail' cart_item.product.category.slug cart_item.product.slug %}"
                                    class="text-decoration-none text-dark" aria-label="product detail">
                                    {{ cart_item.product.product_name }}
                                </a>
                                <p class="text-muted small mb-0">
                                    {% if cart_item.variations.all %}
                                    {% for item in cart_item.variations.all %}
                                    {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }}
                                    <br>
                                    {% endfor %}
                                    {% endif %}
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="input-group">
                            <!-- Quantity decrement button -->
                            <form method="post"
                                action="{% url 'remove_from_cart' cart_item.product.item_id cart_item.id %}">
                                {% csrf_token %}
                                <div class="input-group-prepend">
                                    <button class="btn btn-light" type="submit" id="button-minus">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </form>
                            <!-- Quantity display -->
                            <input type="text" name="quantity" class="form-control item-quantity"
                                value="{{ cart_item.quantity }}" aria-label="Cart quantity">
                            <!-- Quantity increment button -->
                            <form method="post" action="{% url 'add_to_cart' cart_item.product.item_id %}">
                                {% csrf_token %}
                                {% for item in cart_item.variations.all %}
                                <input type="hidden" name="{{ item.variation_category }}"
                                    value="{{ item.variation_value }}"
                                    aria-label="hidden product variation categories and values">
                                {% endfor %}
                                <div class="input-group-append">
                                    <button class="btn btn-light" type="submit" id="button-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Price Wrap -->
                        <div class="price-wrap">
                            <var class="price">${{ cart_item.sub_total }}</var>
                            <small class="text-muted"> </small>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 text-md-right">
                        <!-- Remove Button -->
                        <a href="{% url 'delete_cart_item' cart_item.product.item_id cart_item.id %}"
                            onclick="return confirm('Are you sure you want to delete this item?')"
                            class="btn btn-danger remove-button">Remove</a>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-3 mt-3">
            <div class="card mb-4 checkout-card">
                <div class="card-body text-center">
                    <!-- Sub total -->
                    <div class="row">
                        <div class="col">
                            <span>Subtotal :</span>
                        </div>
                        <div class="col text-right">
                            <span>$ {{ total|floatformat:2 }}</span>
                        </div>
                    </div>
                    <!-- Tax -->
                    <div class="row">
                        <div class="col">
                            <span">Tax :</span>
                        </div>
                        <div class="col text-right">
                            <span>$ {{ tax|floatformat:2 }}</span>
                        </div>
                    </div>
                    <!-- Grand total -->
                    <div class="row">
                        <div class="col">
                            <span><strong>Total:</strong></span>
                        </div>
                        <div class="col text-right">
                            <span class="text-dark"><strong>$ {{ grand_total|floatformat:2 }}</strong></span>
                        </div>
                    </div>
                    <hr>
                    <!-- checkout and keep shopping buttons -->
                    <div class="text-center">
                        <a href="#" class="btn btn-secondary btn-block mx-1 mb-2">Checkout</a>
                        <a href="{% url 'home' %}" class="btn btn-secondary btn-block mb-2">Continue Shopping</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% include 'includes/footer.html' %}
{% endblock %}