{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/navbar.html' %}
<section>
    <div class="container">
        <div class="row">
            <aside class="col-lg-9">
                <div class="card">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col"></th>
                                <th></th>
                                <th></th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart_item in cart_items %}
                            <tr>
                                <td>
                                    <figure class="align-items-center">
                                        <div class="aside"><img src="{{cart_item.product.image.url}}" class="img-sm"
                                                alt="{{cart_item.product.product_name}}"></div>
                                        <figcaption class="info">
                                            <a href="#" class="title text-dark"></a>
                                            <p class="text-muted small"></p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>

                                    <div class="col">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-light" type="button" id="button-plus"> <i
                                                        class="fa fa-minus"></i> </button>
                                            </div>
                                            <input type="text" class="form-control" value="1">
                                            <div class="input-group-append">
                                                <button class="btn btn-light" type="button" id="button-minus"> <i
                                                        class="fa fa-plus"></i> </button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price"></var>
                                        <small class="text-muted"> </small>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <a href="" class="btn btn-danger"></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </aside>
            <aside class="col-lg-3">

                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right"></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Tax:</dt>
                            <dd class="text-right"></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right text-dark b"><strong></strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="">
                        </p>
                        <a href="#" class="btn btn-secondary btn-block"> </a>
                        <a href="#" class="btn btn-light btn-block"></a>
                    </div>
                </div>

            </aside>
        </div>
    </div>
</section>
{% include 'includes/footer.html' %}
{% endblock %}