{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/navbar.html' %}
<section class="container-fluid">
    <div class="row">
        <div class="col-lg-6 mt-4">
            <div class="card">
                <div class="card-body">
                    <!-- billing address heading -->
                    <h4 class="card-title heading-font">
                        Billing address
                    </h4>
                    <!-- billing address form -->
                    <form action="#">
                        <div class="row">
                            <div class="col form-group mb-3">
                                <label for="first_name">First Name *</label>
                                <input type="text" name="first_name" id="first_name" class="form-control" required>
                            </div>
                            <div class="col form-group mb-3">
                                <label for="last_name">Last Name *</label>
                                <input type="text" name="last_name" id="last_name" class="form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group mb-3">
                                <label for="email">Email *</label>
                                <input type="text" name="email" id="email" class="form-control" required>
                            </div>
                            <div class="col form-group mb-3">
                                <label for="tel">Phone Number *</label>
                                <input type="text" name="tel" id="tel" class="form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group mb-3">
                                <label for="address">Address Line 1 *</label>
                                <input type="text" name="address" id="address" class="form-control" required>
                            </div>
                            <div class="col form-group mb-3">
                                <label for="address1">Address line 2</label>
                                <input type="text" name="address1" id="address1" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-4">
            <!-- Product  and purchase details -->
            <div class="card mb-4">
                <div class="card-body text-center">
                    <div class="container">
                        <!-- Cart item heading -->
                        <div class="row mb-3 cart-title">
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <figure class="align-items-center item-on-side">
                                    <!-- product image -->
                                    <div class="aside">
                                    </div>
                                    <figcaption>
                                        <p class="text-muted small mb-0">
                                        </p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="input-group">
                                    <!-- Quantity decrement button -->
                                    <form method="post"></form>
                                    <!-- Quantity display -->
                                    <input type="text" class="form-control item-quantity" value="#"
                                        aria-label="Cart quantity">
                                    <!-- Quantity increment button -->
                                    <form method="post" action="#">
                                    </form>
                                </div>
                            </div>
                            <div class="col">
                                <!-- Price Wrap -->
                                <div class="price-wrap">
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                            </div>
                        </div>
                        <hr>
                    </div>
                    <!-- checkout and keep shopping buttons -->
                    <div class="text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'includes/footer.html' %}
{% endblock %}