{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/navbar.html' %}
<div class="container mt-3">
    <div class="text-center">
        <i class="fas fa-check-circle text-success" style="font-size: 72px;"></i>
        <h2 class="mt-3">Payment Successful</h2>
        <a href="{% url 'home' %}" class="btn btn-secondary mt-3" aria-label="Home">Shop more</a>
    </div>
</div>
<div class="container mt-5 mb-4 bg-light">
    <div class="row">
        <div class="col-md-6">
            <div class="invoice-logo">
                <a class="navbar-brand heading-font logo" href="{% url 'home' %}">
                    <i class="fa-solid fa-baby-carriage"></i>KidoMart
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="invoice-from">
                <ul class="list-unstyled text-center mt-3">
                    <li><strong>Invoiced To</strong></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-12 mt-4">
            <div class="invoice-details">
                <div class="well">
                    <ul class="list-unstyled mb-0">
                        <li><strong>Order number : </strong>{{ order.order_number }}</li>
                        <li><strong>Transaction ID</strong> : kidotrans-{{ order.order_number }}-{{ order.id }}</li>
                        <li><strong>Order Date : </strong>{{ order.created_at }}</li>
                        <li><strong>Status : </strong>{{ order.status}}</li>
                    </ul>
                </div>
            </div>
            <div class="invoice-items mt-4">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">Description</th>
                                <th class="text-center">Qty</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="2" class="text-right">Sub Total:</th>
                                <th class="text-center"></th>
                            </tr>
                            <tr>
                                <th colspan="2" class="text-right"></th>
                                <th class="text-center"></th>
                            </tr>
                            <tr>
                                <th colspan="2" class="text-right">Grand Total:</th>
                                <th class="text-center"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="invoice-footer mt-4">
                <p class="text-center">Thank you for shopping with Kidomart!</p>
            </div>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}
{% endblock %}