{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/navbar.html' %}
<section class="container-fluid">
    <div class="row">
        <div class="col-lg-6 mt-4">
            <div class="card">
                <div class="card-body">
                    <!-- billing address heading -->
                    <h4 class="card-title heading-font">
                        Billing address
                    </h4>
                    <!-- billing address form -->
                    <form action="{% url 'place_order' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col form-group mb-3">
                                <label for="first_name">First Name *</label>
                                <input type="text" name="first_name" id="first_name" class="form-control" required>
                            </div>
                            <div class="col form-group mb-3">
                                <label for="last_name">Last Name *</label>
                                <input type="text" name="last_name" id="last_name" class="form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group mb-3">
                                <label for="email">Email *</label>
                                <input type="text" name="email" id="email" class="form-control" required>
                            </div>
                            <div class="col form-group mb-3">
                                <label for="tel">Phone Number *</label>
                                <input type="text" name="tel" id="tel" class="form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group mb-3">
                                <label for="address">Address Line 1 *</label>
                                <input type="text" name="address" id="address" class="form-control" required>
                            </div>
                            <div class="col form-group mb-3">
                                <label for="address1">Address line 2</label>
                                <input type="text" name="address1" id="address1" class="form-control">
                            </div>
                            <div class="row">
                                <div class="col form-group mb-3">
                                    <label for="country">Country *</label>
                                    <input type="text" name="country" id="country" class="form-control" required>
                                </div>
                                <div class="col form-group mb-3">
                                    <label for="state">State *</label>
                                    <input type="text" name="state" id="state" class="form-control" required>
                                </div>
                                <div class="col form-group mb-3">
                                    <label for="city">City *</label>
                                    <input type="text" name="city" id="city" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group mb-3">
                                <label for="order_note">Order Note</label>
                                <textarea name="order_note" id="order_note" class="form-control"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-4">
            <!-- Product  and purchase details -->
            <div class="card mb-4">
                <div class="card-body text-center">
                    <div class="container">
                        <!-- Cart item heading -->
                        <div class="row mb-3 card-title checkout-details-headings">
                            <div class="col-10 col-md-6">
                                <h6 class="text-uppercase fw-bold">Product</h6>
                            </div>
                            <div class="col-8 col-md-3">
                                <h6 class="text-uppercase fw-bold">Quantity</h6>
                            </div>
                            <div class="col-8 col-md-3">
                                <h6 class="text-uppercase fw-bold">Price</h6>
                            </div>
                        </div>
                        {% for cart_item in cart_items %}
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <figure class="align-items-center item-on-side">
                                    <!-- product image -->
                                    <div class="aside">
                                        <a href="{% url 'product_detail' cart_item.product.category.slug cart_item.product.slug%}"
                                            aria-label="product detail">
                                            <img src="{{ cart_item.product.image.url }}" class="mx-1 small-img"
                                                alt="{{ cart_item.product.product_name }}">
                                        </a>
                                    </div>
                                    <figcaption>
                                        <!-- product name -->
                                        <a href="{% url 'product_detail' cart_item.product.category.slug cart_item.product.slug %}"
                                            class="text-decoration-none text-dark" aria-label="product detail">
                                            {{ cart_item.product.product_name }}
                                        </a>
                                        <!-- product variations -->
                                        <p class="text-muted small mb-0">
                                            {% if cart_item.variations.all %}
                                            {% for item in cart_item.variations.all %}
                                            {% if item.variation_category == 'color' %}
                                            Color: {{ item.variation_value }}
                                            {% endif %}
                                            {% if item.variation_category == 'size' %}
                                            Size: {{ item.variation_value }}
                                            {% endif %}
                                            <br>
                                            {% endfor %}
                                            {% endif %}
                                        </p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-8 col-md-3">
                                <div>
                                    <!-- Quantity display -->
                                    <label id="cartQuantityLabel" class="visually-hidden">Cart quantity</label>
                                    <p aria-labelledby="cartQuantityLabel">{{ cart_item.quantity }}</p>
                                </div>
                            </div>
                            <div class="col-8 col-md-3">
                                <!-- Product price  -->
                                <div>
                                    <var class="price">${{ cart_item.sub_total }}</var>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                    <!-- Order and keep shopping buttons -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-secondary btn-block mx-1 mb-2" onclick="submitForm()"
                            aria-label="Place order">Place order</button>
                        <a href="{% url 'home' %}" class="btn btn-secondary btn-block mb-2"
                            aria-label="Continue Shopping">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'includes/footer.html' %}
{% endblock %}