@import url(https://fonts.googleapis.com/css2?family=Suez+One&family=Varela&display=swap);

/* Generic Styles */
* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    color: #2b2d2f;
    font-family: 'Varela', sans-serif, 'FontAwesome';
    scroll-behavior: smooth;
}

/* generic heading font style */
.heading-font {
    font-family: 'Suez One', serif;
}

/*********************** Navbar styles ***********************/

/* navbar container style */
.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

/* search form style */
.search-form {
    width: 30%;
}

/* search button style */
.search-button {
    border-radius: 0 4px 4px 0;
}

/* logo style */
.logo {
    font-size: 200%;
    margin-right: 0.55rem;
}

/*********************** Home page styles ***********************/

/* sale badge style */
.badge {
    top: 0.5rem;
    right: 0.5rem;
}

/* product container style */
.product-container {
    background-color: aqua;
}

/*********************** Media queries ***********************/

/* small screens */
@media (max-width: 540px) {

    .search-form {
        width: 45%;
        margin-left: 0.15rem !important;
    }

}

@media (max-width: 365px) {

    .search-form {
        width: 70%;
        margin: 0.35rem 0.40rem;
    }

}