<aside class="col-md-3">
    <!--   Side bar   -->
    <ul class="list-group">
        <a class="list-group-item {% if '/accounts/' == request.path %}active bg-secondary{% endif %}"
            href="{% url 'dashboard' %}">Dashboard</a>
        <a class="list-group-item {% if '/my_orders/' in request.path %}active bg-secondary{% endif %}"
            href="{% url 'my_orders' %}">My orders
        </a>
        <a class="list-group-item {% if '/edit_profile/' in request.path %}active bg-secondary{% endif %}"
            href="{% url 'edit_profile' %}">Edit Profile</a>
        <a class="list-group-item {% if '/change_password/' in request.path %}active bg-secondary{% endif %}"
            href="{% url 'change_password' %}">Change Password</a>
        <a class="list-group-item {% if '/delete_account/' in request.path %}active bg-secondary{% endif %}"
            href="{% url 'delete_account' %}">Delete Account</a>
    </ul>
    <br>
    <div class="text-center mb-3">
        <a class="btn btn-secondary btn-block hvr-pop" href="{% url 'logout' %}" aria-label="log out">
            <i class="fa fa-power-off"></i> <span class="text">Logout</span>
        </a>
    </div>
</aside>