<aside class="col-md-3">
    <!--   Side bar   -->
    <ul class="list-group">
        <a class="list-group-item active" href="#"></a>
        <a class="list-group-item" href="#"></a>
        <a class="list-group-item" href="#"></a>
        <a class="list-group-item" href="#"></a>
        <a class="list-group-item" href="#"></a>
        <a class="list-group-item" href="#"></a>
    </ul>
    <br>
    <a class="btn btn-secondary btn-block" href="{% url 'logout' %}" aria-label="log out">
        <i class="fa fa-power-off"></i> <span class="text">Logout</span>
    </a>
</aside>