<!-- Footer-->
<footer class="footer py-4 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">
      copyright &copy;<span id="copyright-date"></span>KidoMart
    </p>
    <div class="text-center footer-icons text-white">
      <a
        href="https://www.instagram.com"
        target="_blank"
        rel="noopener"
        aria-label="Link to kidomart instagram page"
        ><i class="fab fa-instagram-square fa-lg ms-3 hvr-buzz-out"></i
      ></a>
      <a
        href="https://www.facebook.com"
        target="_blank"
        rel="noopener"
        aria-label="Link to kidomart facebook page"
        ><i class="fab fa-facebook-square fa-lg ms-3 hvr-buzz-out"></i
      ></a>
      <a
        href="https://www.twitter.com"
        target="_blank"
        rel="noopener"
        aria-label="Link to kidomart twitter page"
        ><i class="fab fa-twitter-square fa-lg ms-3 hvr-buzz-out"></i
      ></a>
    </div>
  </div>
</footer>
