<!-- Footer-->
<footer class="footer py-4">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-4">
        <p>
          Customer care: +49 1756626438
        </p>
      </div>
      <div class="col-md-4 mb-2">
        <p class="m-0 text-center pb-1 copyright">
          Copyright &copy;<span id="copyright-date"></span> KidoMart
        </p>
        <div class="text-center footer-icons">
          <a href="https://instagram.com/kido_markt?igshid=YTQwZjQ0NmI0OA%3D%3D&utm_source=qr" target="_blank"
            rel="noopener" aria-label="Link to kidomart instagram page"><i
              class="fab fa-instagram-square fa-lg ms-3 hvr-buzz-out"></i></a>
          <a href="https://www.facebook.com/profile.php?id=61554051248246" target="_blank" rel="noopener"
            aria-label="Link to kidomart facebook page"><i
              class="fab fa-facebook-square fa-lg ms-3 hvr-buzz-out"></i></a>
          <a href="https://twitter.com/kidomartservice" target="_blank" rel="noopener"
            aria-label="Link to kidomart twitter page"><i class="fab fa-twitter-square fa-lg ms-3 hvr-buzz-out"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <p>
          <span>email: </span><a href="mailto:kidomartservice@gmail.com"
            class="text-decoration-none text-dark">kidomartservices@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
</footer>