<!-- Footer-->
<footer class="footer py-4">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col">
        <p>Reach us on:</p>
        <!-- customer care line -->
        <p>
          Customer care: +49 1756626438
        </p>
        <!-- email address -->
        <p>
          <span>email: </span><a href="mailto:kidomartservice@gmail.com"
            class="text-decoration-none text-dark">kidomartservices@gmail.com</a>
        </p>
      </div>
      <div class="col-lg-6 col-md-5 mb-2 text-center">
        <!-- copyright text -->
        <p class="m-0 text-center pb-1 copyright">
          Copyright &copy;<span id="copyright-date"></span> KidoMart
        </p>
        <!-- mailchimp newsletter form -->
        <div id="mc_embed_shell">
          <div id="mc_embed_signup">
            <form
              action="https://herokuapp.us21.list-manage.com/subscribe/post?u=352a6836e7b92dc021343cbae&amp;id=612a90b1f8&amp;f_id=0025efe6f0"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
              target="_blank">
              <div id="mc_embed_signup_scroll">
                <h2>Subscribe</h2>
                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                      class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email"
                    id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                </div>
                <div id="mce-responses" class="clear foot">
                  <div class="response" id="mce-error-response" style="display: none;"></div>
                  <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                  /* real people should not fill this in and expect good things - do not remove this or risk form bot
                  signups */
                  <input type="text" name="b_352a6836e7b92dc021343cbae_612a90b1f8" tabindex="-1" value="">
                </div>
                <div class="optionalParent">
                  <div class="clear foot">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col">
        <p>Follow us:</p>
        <!-- social media link -->
        <div class="text-center footer-icons">
          <a href="https://instagram.com/kido_markt?igshid=YTQwZjQ0NmI0OA%3D%3D&utm_source=qr" target="_blank"
            rel="noopener" aria-label="Link to kidomart instagram page"><i
              class="fab fa-instagram-square fa-lg ms-3 hvr-buzz-out"></i></a>
          <a href="https://www.facebook.com/profile.php?id=61554051248246" target="_blank" rel="noopener"
            aria-label="Link to kidomart facebook page"><i
              class="fab fa-facebook-square fa-lg ms-3 hvr-buzz-out"></i></a>
          <a href="https://twitter.com/kidomartservice" target="_blank" rel="noopener"
            aria-label="Link to kidomart twitter page"><i class="fab fa-twitter-square fa-lg ms-3 hvr-buzz-out"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>