<!-- Navigation-->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid px-2 px-lg-3">
    <a class="navbar-brand heading-font" href="#">
      <i class="fa-solid fa-baby-carriage"></i>KidoMart
    </a>
    <!-- dropdown -->
    <div class="col-lg col-sm col-md col-6 flex-grow-0">
      <div class="category-wrap dropdown d-inline-block float-right">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-bars"></i> All Products
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Clothing </a>
          <a class="dropdown-item" href="#">Toys </a>
          <a class="dropdown-item" href="#">Legos</a>
          <a class="dropdown-item" href="#">Dolls</a>
          <a class="dropdown-item" href="#">Electronics</a>
          <a class="dropdown-item" href="#">Health & Beauty </a>
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-outline-secondary"><strong>Store</strong> </a>
    <!-- search form -->
    <div class="mx-3 search-form">
      <form action="#" class="text-white d-flex">
        <div class="input-group">
          <input type="text" name="search" class="form-control" placeholder="search" aria-label="Search" required>
          <div class="input-group-append">
            <button class="btn btn-secondary search-button" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <!-- cart form -->
    <form class="d-flex">
      <button class="btn btn-outline-dark" type="submit">
        <i class="bi-cart-fill me-1"></i>
        Cart
        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
      </button>
    </form>
  </div>
  </div>
</nav>