<!-- Navigation-->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid nav-container">
    <a class="navbar-brand heading-font logo" href="#">
      <i class="fa-solid fa-baby-carriage"></i>KidoMart
    </a>
    <!-- dropdown -->
    <div class="category-wrap dropdown d-inline-block">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-label="Dropdown Menu">
        </i> Categories
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Clothing </a>
        <a class="dropdown-item" href="#">Toys </a>
        <a class="dropdown-item" href="#">Legos</a>
        <a class="dropdown-item" href="#">Dolls</a>
        <a class="dropdown-item" href="#">Electronics</a>
        <a class="dropdown-item" href="#">Health & Beauty </a>
      </div>
    </div>
    <!-- search form -->
    <div class="mx-3 search-form">
      <form action="#" class="text-white d-flex">
        <div class="input-group">
          <input type="text" name="search" class="form-control" placeholder="search" aria-label="Search" required>
          <div class="input-group-append">
            <button class="btn btn-secondary search-button" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="mx-2">
      <small class="text-muted text-dark">Welcome to KidoMart</small>
      <div class="text-center">
        <a href="#" class="text-dark text-decoration-none"><strong>Log in</strong> </a> <span> | </span>
        <a href="#" class="text-dark text-decoration-none"><strong>Register</strong></a>
      </div>
    </div>
    <!-- cart form -->
    <form>
      <button class="btn btn-outline-dark" type="submit" aria-label="Shopping Cart">
        <i class="bi-cart-fill"></i>
        <strong>Cart</strong>
        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
      </button>
    </form>
  </div>
  </div>
</nav>