<!-- Navigation-->
<nav class="bg-light">
  <div class="container-fluid nav-container">
    <a class="navbar-brand heading-font logo" href="{% url 'home' %}">
      <i class="fa-solid fa-baby-carriage"></i>KidoMart
    </a>
    <!-- dropdown -->
    <div class="category-wrap dropdown d-inline-block">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-label="Dropdown Menu">
        Categories
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'home' %}">All</a>
        {% for category in links %}
        <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }} </a>
        {% endfor %}
      </div>
    </div>
    <!-- search form -->
    <div class="mx-2 search-form">
      <form action="#" class="text-white">
        <div class="input-group">
          <input type="text" name="search" class="form-control" placeholder="search" aria-label="Search" required>
          <div class="input-group-append">
            <button class="btn btn-secondary search-button" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="mx-2">
      <small class="text-muted text-dark">Welcome to KidoMart</small>
      <div class="text-center">
        <a href="#" class="text-dark text-decoration-none"><strong>Log in</strong> </a> <span> | </span>
        <a href="#" class="text-dark text-decoration-none"><strong>Register</strong></a>
      </div>
    </div>
    <!-- cart form -->
    <form class="my-1 cart-form">
      <button class="btn btn-outline-dark" type="submit" aria-label="Shopping Cart">
        <i class="bi-cart-fill"></i>
        <strong>Cart&nbsp;</strong>
        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
      </button>
    </form>
  </div>
  </div>
</nav>