<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="kidomart is an e-commerce website that sells children products"
    />
    <meta
      name="keywords"
      content="children's clothing e-commerce, online shopping sites, e-commerce website for children's products, 
      best online shops for children's clothes, children's clothing, online stores for children's clothing, kids toys, 
      children's products shopping,  children products, toys, lego shop, lego shop online, toys for children, buy children products"
    />
    <meta name="author" content="Samuel Anderson" />
    <title>{% block title %}KidoMart{% endblock %}</title>
  </head>
  <body></body>
</html>
