{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% include 'includes/navbar.html' %}
<!-- Landing page -->
<header class="bg-secondary py-5">
  <div class="container header-container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder heading-font">Kido Sales</h1>
      <p class="lead fw-normal text-white-50 mb-0">Happy chidren, happy home</p>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<!-- Section for item card -->
<section class="py-4">
  <div class="container py-4 px-4 px-lg-5 mt-0 product-container">
    <div class="row">
      {% for product in products %}
      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3">
        <div class="card h-100 border-0">
          <!-- Sale badge-->
          {% if product.on_sale %}
          <div class="badge bg-dark text-white position-absolute">
            Sale
          </div>
          {% endif %}
          <!-- Product image-->
          <a href="">
            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.product_name }}">
          </a>
          <!-- placeholder for card alignment -->
          <div class="card-body pb-0">
          </div>
          <!-- card footer -->
          <div class="card-footer bg-white pt-0 border-0 text-center">
            <div class="row">
              <div class="col">
                <!-- Product name-->
                <p class="mb-0 fw-bold fs-5">{{ product.product_name }}</p>
                <!-- Product price-->
                {% if product.on_sale %}
                <p class="mb-0">
                  <strike>${{ product.price }}</strike> | <strong>${{ product.sale_price }}</strong>
                </p>
                {% else %}
                <p class="mb-0">${{ product.price }}</p>
                {% endif %}
                <!-- Product rating -->
                {% if product.rating %}
                <small class="text-muted"><i class="fas fa-star"></i>{{ product.rating }}</small>
                {% else %}
                <small class="text-muted">No Rating yet</small>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include 'includes/footer.html' %}

{% endblock %}