{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/navbar.html' %}
<section>
	<div class="container mt-5">
		<div class="card detail-card">
			<div class="row no-gutters">
				<aside class="col-md-6">
					<article class="main-img-wrap">
						<!-- product detail image  -->
						<div class="img-wrap">
							<a href="#">
								<img class="img-fluid" src="{{single_product.image.url}}"
									alt="{{ single_product.product_name }}">
							</a>
						</div>
					</article>
				</aside>
				<!-- details for each product -->
				<main class="col-md-6 border-left">
					<article class="article-body">
						<!-- product detail name -->
						<h2>
							{{ single_product.product_name }}
						</h2>
						<div class="mb-3">
							<!-- Product price-->
							{% if single_product.on_sale %}
							<p class="mb-0">
								<strike>${{ single_product.price }}</strike> |
								<strong>${{ single_product.sale_price }}</strong>
							</p>
							{% else %}
							<p class="mb-0">${{ single_product.price }}</p>
							{% endif %}
						</div>
						<div>
							<p class="fs-5">
								{{ single_product.description }}
							</p>
						</div>
						{% if single_product.has_sizes %}
						<hr>
						<div class="row">
							<!-- product detail sizes -->
							<div class="item-option-select">
								<h6>Select Size</h6>
								<div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
									<label class="btn btn-light" aria-label="Small">
										<input type="radio" name="radio_color"> S
									</label>
									<label class="btn btn-light active" aria-label="Medium">
										<input type="radio" name="radio_color" checked> M
									</label>
									<label class="btn btn-light" aria-label="Large">
										<input type="radio" name="radio_color"> L
									</label>
									<label class="btn btn-light" aria-label="Extra large">
										<input type="radio" name="radio_color"> XL
									</label>
								</div>
							</div>
						</div>
						{% endif %}
						<div class="row">
							<div>
								<div>

								</div>
							</div>
						</div>
						<hr>
						{% if single_product.stock <= 0 %} <h6 class="text-danger">
							Out of stock
							</h6>
							<div>
								<a href="{% url 'home' %}" class="btn btn-secondary btn-sm hvr-pop">
									Continue Shopping
								</a>
							</div>
							{% else %}
							{% if in_cart %}
							<div class="d-flex gap-2 view-added-buttons">
								<div class="">
									<a href="#" class="btn btn-success btn-md disabled" aria-disabled="true">
										Added to Cart <i class="fa-solid fa-check"></i>
									</a>
								</div>
								<div class="">
									<a href="{% url 'cart' %}" class="btn btn-outline-secondary hvr-pop"
										aria-label="View Cart">
										<i class="fa-regular fa-eye"></i> View Cart
									</a>
								</div>
							</div>
							{% else %}
							<div>
								<form method="post" action="{% url 'add_to_cart' single_product.item_id %}">
									{% csrf_token %}
									<button type="submit" class="btn btn-secondary hvr-pop">Add to Cart</button>
									<div>
										<div class="item-option-select">
											<h6></h6>
											<select name="color" class="form-control w-25">
												<option value="" disabled selected>Choose color</option>
												{% for v in single_product.productvariation_set.colors %}
												<option value="{{ v.variation_value }}">{{ v.variation_value }}</option>
												{% endfor %}
											</select>
										</div>
										<div>
											<select name="size" class="form-control w-25">
												<option value="" disabled selected>Choose size</option>
												{% for v in single_product.productvariation_set.sizes %}
												<option value="{{ v.variation_value }}">{{ v.variation_value }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</form>
							</div>
							{% endif %}
							{% endif %}
					</article>
				</main>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-9">
				<h6 class="fs-4">Customer Reviews </h6>
				<article class="mb-2">
					<div class="w-100">
						<img src="" class="img-xs icon rounded-circle">
						<div class="text">
							<span class="date text-muted float-md-right"></span>
							<p class="mb-1"></p>
						</div>
						<div class="mt-2">
							<p></p>
						</div>
				</article>
			</div>
		</div>
	</div>
</section>
{% include 'includes/footer.html' %}
{% endblock %}