{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/navbar.html' %}
<section>
	<div class="container">
		<div class="card">
			<div class="row no-gutters">
				<aside class="col-md-6">
					<article>
						<!-- product detail image  -->
						<div>
							<a href="#">
								<img class="img-fluid" src="{{single_product.image.url}}"
									alt="{{ single_product.product_name }}">
							</a>
						</div>
					</article>
				</aside>
				<!-- details for each product -->
				<main class="col-md-6 border-left">
					<article class="content-body">
						<!-- product detail name -->
						<h2>
							{{ single_product.product_name }}
						</h2>
						<div class="mb-3">
							<!-- Product price-->
							{% if single_product.on_sale %}
							<p class="mb-0">
								<strike>${{ single_product.price }}</strike> |
								<strong>${{ single_product.sale_price }}</strong>
							</p>
							{% else %}
							<p class="mb-0">${{ single_product.price }}</p>
							{% endif %}
						</div>
						<div>
							<p class="fs-5">
								{{ single_product.description }}
							</p>
						</div>
						<hr>
						<div class="row">
							<!-- product detail sizes -->
							{% if single_product.has_sizes %}
							<div class="item-option-select">
								<h6>Select Size</h6>
								<div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
									<label class="btn btn-light" aria-label="Small">
										<input type="radio" name="radio_color"> S
									</label>
									<label class="btn btn-light active" aria-label="Medium">
										<input type="radio" name="radio_color" checked> M
									</label>
									<label class="btn btn-light" aria-label="Large">
										<input type="radio" name="radio_color"> L
									</label>
									<label class="btn btn-light" aria-label="Extra large">
										<input type="radio" name="radio_color"> XL
									</label>
								</div>
							</div>
							{% endif %}
						</div>
						<div class="row">
							<div>
								<div>

								</div>
							</div>
						</div>
						<hr>
						<a href="" class="btn  btn-primary"> <span class="text"></span>
						</a>
					</article>
				</main>
			</div>
		</div>
		<br>
		<div class="row">
			<div>
				<article>
					<div>
						<img src="">
						<div class="text">

						</div>
					</div>
					<div>

					</div>
				</article>
			</div>
		</div>
	</div>
</section>
{% include 'includes/footer.html' %}
{% endblock %}