{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/navbar.html' %}
<section>
	<div class="container mt-5">
		<div class="card detail-card">
			<div class="row no-gutters">
				<aside class="col-md-6">
					<article class="main-img-wrap">
						<!-- product detail image  -->
						<div class="img-wrap">
							<a href="#">
								<img class="img-fluid" src="{{single_product.image.url}}"
									alt="{{ single_product.product_name }}">
							</a>
						</div>
					</article>
				</aside>
				<!-- details for each product -->
				<main class="col-md-6 border-left">
					<article class="article-body">
						<!-- product detail name -->
						<h2>
							{{ single_product.product_name }}
						</h2>
						<div class="mb-3">
							<!-- Product price-->
							{% if single_product.on_sale %}
							<p class="mb-0">
								<strike>${{ single_product.price }}</strike> |
								<strong>${{ single_product.sale_price }}</strong>
							</p>
							{% else %}
							<p class="mb-0">${{ single_product.price }}</p>
							{% endif %}
						</div>
						<div>
							<p class="fs-5">
								{{ single_product.description }}
							</p>
						</div>
						<div class="row">
							<div>
								<div>

								</div>
							</div>
						</div>
						<hr>
						{% if single_product.stock <= 0 %} <h6 class="text-danger">
							Out of stock
							</h6>
							<div>
								<a href="{% url 'home' %}" class="btn btn-secondary btn-sm hvr-pop">
									Continue Shopping
								</a>
							</div>
							{% else %}
							<div>
								<form method="post" action="{% url 'add_to_cart' single_product.item_id %}">
									{% csrf_token %}
									<div class="row mb-3 mx-auto">
										<div class="col-lg-4 col-md-6 col-sm-8 item-option-select mb-3">
											<!-- product detail colors -->
											{% if single_product.productvariation_set.colors %}
											<label for="color" class="visually-hidden">Choose color:</label>
											<select name="color" class="form-control text-center hvr-hollow" required>
												<option value="" disabled selected>Choose color</option>
												{% for v in single_product.productvariation_set.colors %}
												<option value="{{ v.variation_value }}" aria-label="Choose color">
													{{ v.variation_value }}
												</option>
												{% endfor %}
											</select>
											{% endif %}
										</div>
										<div class="col-lg-4 col-md-6 col-sm-8 item-option-select">
											<!-- product detail sizes -->
											{% if single_product.productvariation_set.sizes %}
											<label for="size" class="visually-hidden">Choose size:</label>
											<select name="size" class="form-control text-center hvr-hollow" required>
												<option value="" disabled selected>Choose size</option>
												{% for v in single_product.productvariation_set.sizes %}
												<option value="{{ v.variation_value }}" aria-label="Choose size">
													{{ v.variation_value }}
												</option>
												{% endfor %}
											</select>
											{% endif %}
										</div>
									</div>
									<div class="row mx-auto text-center">
										<div class="col-lg-4 col-md-6 col-sm-8 mb-3">
											<button type="submit" class="btn btn-secondary hvr-pop"
												aria-label="Add to Cart">
												Add to Cart
											</button>
										</div>
										<div class="col-lg-4 col-md-6 col-sm-8">
											<a href="{% url 'home' %}" class="btn btn-secondary hvr-pop"
												aria-label="home">
												Back
											</a>
										</div>
									</div>
								</form>
							</div>
							{% endif %}
					</article>
				</main>
			</div>
		</div>
		<br>
		<!-- Customer review -->
		<div class="row">
			<div class="col-md-9">
				<div>
					<form action="{% url 'submit_review' single_product.item_id %}" method="POST">
						{% csrf_token %}
						<h5 class="fs-5">
							Leave a Review
						</h5>
						<div>
							<!-- Rating Stars -->
							<label aria-label="Rate this product">Rate this product</label>
							<br>
							<div class="rate">
								<label for="rating10" title="5"></label>
								<input type="radio" name="rating" id="rating10" value="5" aria-label="rating" required>
								<label for="rating9" title="4.5" class="half"></label>
								<input type="radio" name="rating" id="rating9" value="4.5" aria-label="rating" required>
								<label for="rating8" title="4"></label>
								<input type="radio" name="rating" id="rating8" value="4" aria-label="rating" required>
								<label for="rating7" title="3.5" class="half"></label>
								<input type="radio" name="rating" id="rating7" value="3.5" aria-label="rating" required>
								<label for="rating6" title="3"></label>
								<input type="radio" name="rating" id="rating6" value="3" aria-label="rating" required>
								<label for="rating5" title="2.5" class="half"></label>
								<input type="radio" name="rating" id="rating5" value="2.5" aria-label="rating" required>
								<label for="rating4" title="2"></label>
								<input type="radio" name="rating" id="rating4" value="2" aria-label="rating" required>
								<label for="rating3" title="1.5" class="half"></label>
								<input type="radio" name="rating" id="rating3" value="1.5" aria-label="rating" required>
								<label for="rating2" title="1"></label>
								<input type="radio" name="rating" id="rating2" value="1" aria-label="rating" required>
								<label for="rating1" title="0.5" class="half"></label>
								<input type="radio" name="rating" id="rating1" value="0.5" aria-label="rating" required>
							</div>
							<br>
							<!-- Review -->
							<label for="subject">Review Title:</label>
							<input type="text" class="form-control" name="subject" id="subject" aria-label="Subject">
							<br>
							<label for="review">Review text:</label>
							<textarea name="review" rows="4" class="form-control" id="review"
								aria-label="Review"></textarea>
							<br>
							<input type="submit" value="Submit Review" class="btn btn-secondary hvr-pop"
								aria-label="Submit Review">
						</div>
						{% include 'includes/alerts.html' %}
					</form>
				</div>
				<h6 class="fs-4 mt-3">Customer Reviews</h6>
				<article class="mb-2">
					<div class="w-100">
						<img src="" class="img-xs icon rounded-circle">
						<div class="text">
							<span class="date text-muted float-md-right"></span>
							<p class="mb-1"></p>
						</div>
						<div class="mt-2">
							<p></p>
						</div>
				</article>
			</div>
		</div>
	</div>
</section>
{% include 'includes/footer.html' %}
{% endblock %}